/********************
GENERAL
********************/

body { background-color: #fff; }

a {
  color: #343a40;
}

/********************
NAV
********************/

.navbar-brand {
  font-family: 'Merriweather', serif;
}

/********************
JUMBOTRON
********************/

.jumbotron {
  /* background-color: #e9ecef; */
  background-color: #2471A3;
  background-color: #343a40;
  /* padding-top: 30px;
  padding-bottom: 30px;   */
}

.jumbotron h1{
  color: #fff;
  font-family: 'Bitter', serif;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 2px;
}

.jumbotron p{
  color: #fff;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

/********************
ARTICLES
********************/

#articles {
  display: inline-block;
  /* overflow: auto; */
  /* width: 60%; */
  width: 100%;
  height: 700px;
}

/********************
NOTES
********************/

#notes {
  float: right;
  width: 30%;
}

.card {
  margin-top: 5px;
  margin-bottom: 15px;
}

#edit-note-btn {
  margin-right: 5px;
}

textarea, input {
  display: block;
  width: 100%;
  /* background-color: #FCF5C7; */
  background-color: #fff;
}

#bodyinput {
  margin-top: 5px;
  margin-bottom: 10px;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 100px;
  font-size: 18px;
}

#view-notes-btn {
  margin-right: 10px;
}

#wrapper {
  padding-top: 0;
}