body { background-color: #fff; }

.jumbotron {
  background-color: #e9ecef;
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  /* overflow: auto; */
  /* width: 60%; */
  width: 100%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  /* background-color: #FCF5C7; */
  background-color: #fff;
}
#bodyinput {
  margin-top: 10px;
  margin-bottom: 10px;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

#view-notes-btn {
  margin-right: 10px;
}

#wrapper {
  padding-top: 0;
}